* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--ivory);
    font-family: 'Outfit', sans-serif;

}

:root {
    --fandango: #BF3A9Dff;
    --delft-blue: #26335Bff;
    --ivory: #F9FCE9ff;
    --slate-gray: #677286ff;
    --penn-blue: #0A133Eff;
    --jordy-blue: #A8CAFDff;
    --cornflower-blue: #5D9BFCff;
    --chefchaouen-blue: #3C88FDff;
    --azure: #3685FFff;
    --azure-2: #2C7DFAff;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-weight: 700;
}

.main {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img-top {
    padding: 1rem;
    border-radius: 2rem;
}

.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.322);
    position: absolute;


}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-body a {
    background-color: var(--delft-blue);
    border: none;
}

.card-body a:hover {
    background-color: var(--fandango);
}

.card-title {
    font-weight: 700;
    color: var(--penn-blue);
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.card-text {
    color: var(--slate-gray);
}

footer {
    position: relative;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(to bottom, var(--ivory), var(--delft-blue));
    font-size: 12px;
    padding: 15px;
    text-align: center;
}

.attribution {
    color: white;
}

.attribution a {
    color: var(--delft-blue);
}